**/*.zwc
**/.zcompcache
**/zsh/.zcompdump
**/zsh/zplug/
**/*.ttf
**/wget-log
**/vifminfo.json*
stow.d/home_manager/.config/nixpkgs/result
stow.d/termux/.termux/shell
stow.d/termux/.ssh/known_hosts
stow.d/termux/.ssh/authorized_keys
stow.d/tmux/.config/tmux/plugins/
**/plug.vim
**/plug.vim.old
**/__pycache__
